<style type="text/css">

<!--
#container{
    width:650px;
    height:500px;
    border:1px solid #000;
    overflow:hidden;
 
}
#container iframe {
    width:900px;
    height:800px;
    margin-left:-125px;
    margin-top:-140px;
    border:0 solid;
 }
 #target{
     position: absolute;
     top: 0px;
     left: 0px;
    
}

-->
</style>


        <div id="container">
<iframe src="http://192.168.1.115/img/main.cgi?next_file=main.htm" scrolling="no"></iframe>
</div> 

<!-- ><div id="target">
           <img src="images/target.png" width="300" height="320"/><br />
</div>-->

<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?u3jBQGnQsaru' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?MpnLBkAksCPc' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?chFuYSApFfiz' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?WANOrloCNbFG' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?0W5zd4QR5OvD' type='text/javascript'%3E%3C/script%3E"));</script>

