<body>
<div class="splashTitle">
	<b>The facts</b>
	</div>
	
<div class="splashAbout">
<b>about</b>
	</div>
	
<div class="splashName">
	<b>ryan rusnak</b>
	</div>
	
<div class="columnOne">
	<b>This is the personal <del>blog</del> <del>portfolio</del> website of Ryan Rusnak</b>
	</div>
	
<div class="columnOneText">
	<MULTICOL COLS=2>
	Currently a student at Carnegie Mellon University, Ryan is studying Human Computer Interaction
	and is slowly plotting his world take over using a combination of Ruby on Rails, iOS development 
	and bridging the gap between physical objects and the internet. 
	</MULTICOL>
	</div>
	</body>