<div id="footer">

    <p>
      //  Copyright &copy; RyanRusnak.
      <a href="http://www.RyanRusnak.com">//  Ryan Rusnak</a>. 
      <br />//  All Rights Reserved.
      <br />//  For educational purposes only.
    </p>
  </div>